In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('resp_data.csv',  low_memory=False)

In [4]:
df.columns

Index(['indiv_id', 's_239_7', 's_239_8', 's_239_9', 's_239_10', 's_241_11',
       's_241_12', 's_241_13', 's_241_14', 's_241_15', 's_241_16', 's_258_36',
       's_258_37', 's_258_38', 's_258_39', 's_241_67', 's_241_68', 's_241_69',
       's_248_70', 's_247_71', 's_248_72', 's_247_73', 's_248_74', 's_247_75',
       's_248_76', 's_247_77', 's_247_78', 's_305_87', 's_305_88', 's_305_89',
       's_306_90', 's_306_91', 's_306_92', 's_240_159', 'on_11', 'on_33',
       'os_34', 'os_103', 'os_104', 'os_105', 'os_106', 'os_107', 'os_108',
       'os_109', 'os_110', 'os_111', 'os_112', 'on_121', 'ContactMonth',
       'ContactWeekday', 'ContactHour', 'Response'],
      dtype='object')

In [5]:
order_columns = [i for i in df.columns if i.startswith('o')]

In [7]:
order_columns

['on_11',
 'on_33',
 'os_34',
 'os_103',
 'os_104',
 'os_105',
 'os_106',
 'os_107',
 'os_108',
 'os_109',
 'os_110',
 'os_111',
 'os_112',
 'on_121']

In [19]:
df['offer_id'] = df.groupby(order_columns).ngroup()

In [57]:
top_offer_is = list(df['offer_id'].value_counts().head(10).index)

In [21]:
df_tmp = df[df['offer_id'] == 27].copy()

In [23]:
age_columns = ['s_247_71',  's_247_73', 's_247_75', 's_247_77', 's_247_78']
income_columns = ['s_248_70',  's_248_72',  's_248_74', 's_248_76']

In [28]:
for column in age_columns + income_columns:
    print(column, '-', len(df_tmp[df_tmp[column] == 1]))

s_247_71 - 14111
s_247_73 - 11243
s_247_75 - 8616
s_247_77 - 4909
s_247_78 - 1771
s_248_70 - 1046
s_248_72 - 19716
s_248_74 - 18819
s_248_76 - 1069

In [59]:
def get_response_probability(df_tmp):    
    response_prob_dict_by_age = {}
    for age in age_columns:
        age_response_prob = []
        for income in income_columns:
            total_offers = df_tmp[(df_tmp[age] == 1) & (df_tmp[income] == 1)]
            accepted_offers = df_tmp[(df_tmp[age] == 1) & (df_tmp[income] == 1) & (df_tmp['Response'] > 0) ]
            response_prob = -1
            if len(total_offers) != 0:
                response_prob = round(len(accepted_offers) / len(total_offers),2)
            age_response_prob.append(response_prob)
            # print(age, '-', income, '-', len(accepted_offers), '-', len(total_offers), '-', response_prob)
        response_prob_dict_by_age[age] = age_response_prob
    return pd.DataFrame(response_prob_dict_by_age, index=income_columns)

In [60]:
get_response_probability(df_tmp)

          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.07      0.08      0.10      0.10      0.09
s_248_72      0.08      0.09      0.09      0.10      0.12
s_248_74      0.09      0.09      0.09      0.09      0.08
s_248_76      0.10      0.10      0.10      0.05      0.10

In [53]:
get_response_probability(df)

s_247_71 - s_248_70 - 115 - 3487 - 0.03
s_247_71 - s_248_72 - 2390 - 63141 - 0.04
s_247_71 - s_248_74 - 3048 - 47455 - 0.06
s_247_71 - s_248_76 - 142 - 2234 - 0.06
s_247_73 - s_248_70 - 120 - 2965 - 0.04
s_247_73 - s_248_72 - 2470 - 50184 - 0.05
s_247_73 - s_248_74 - 2462 - 37125 - 0.07
s_247_73 - s_248_76 - 143 - 2082 - 0.07
s_247_75 - s_248_70 - 113 - 2336 - 0.05
s_247_75 - s_248_72 - 1925 - 38358 - 0.05
s_247_75 - s_248_74 - 1830 - 29225 - 0.06
s_247_75 - s_248_76 - 95 - 1356 - 0.07
s_247_77 - s_248_70 - 73 - 1278 - 0.06
s_247_77 - s_248_72 - 1204 - 22228 - 0.05
s_247_77 - s_248_74 - 962 - 15982 - 0.06
s_247_77 - s_248_76 - 39 - 835 - 0.05
s_247_78 - s_248_70 - 17 - 473 - 0.04
s_247_78 - s_248_72 - 434 - 8060 - 0.05
s_247_78 - s_248_74 - 344 - 5989 - 0.06
s_247_78 - s_248_76 - 14 - 320 - 0.04

          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.03      0.04      0.05      0.06      0.04
s_248_72      0.04      0.05      0.05      0.05      0.05
s_248_74      0.06      0.07      0.06      0.06      0.06
s_248_76      0.06      0.07      0.07      0.05      0.04

In [48]:
response_prob_dict_by_age

{'s_247_71': [0.07, 0.08, 0.09, 0.1],
 's_247_73': [0.08, 0.09, 0.09, 0.1],
 's_247_75': [0.1, 0.09, 0.09, 0.1],
 's_247_77': [0.1, 0.1, 0.09, 0.05],
 's_247_78': [0.09, 0.12, 0.08, 0.1]}

In [50]:
pd.DataFrame(response_prob_dict_by_age, index=income_columns)

          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.07      0.08      0.10      0.10      0.09
s_248_72      0.08      0.09      0.09      0.10      0.12
s_248_74      0.09      0.09      0.09      0.09      0.08
s_248_76      0.10      0.10      0.10      0.05      0.10

In [62]:
for offer in top_offer_is:
    print(offer)
    df_tmp = df[df['offer_id'] == offer]
    print(get_response_probability(df_tmp))

27
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.07      0.08      0.10      0.10      0.09
s_248_72      0.08      0.09      0.09      0.10      0.12
s_248_74      0.09      0.09      0.09      0.09      0.08
s_248_76      0.10      0.10      0.10      0.05      0.10
12
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.07      0.08      0.09      0.11      0.06
s_248_72      0.07      0.09      0.09      0.10      0.10
s_248_74      0.10      0.10      0.09      0.09      0.09
s_248_76      0.08      0.08      0.07      0.05      0.04
26
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.09      0.10      0.11      0.13      0.02
s_248_72      0.07      0.09      0.10      0.10      0.10
s_248_74      0.09      0.10      0.09      0.08      0.08
s_248_76      0.06      0.10      0.10      0.13      0.02
28
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.04      0.06      0.09      0.15      0.09
s_248_72      0.07      0.09      0.10      0.10      0.11
s_248_74      0.09      0.10      0.10      0.09      0.09
s_248_76      0.08      0.11      0.10      0.03      0.12
0
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70       0.0       0.0       0.0       0.0       0.0
s_248_72       0.0       0.0       0.0       0.0       0.0
s_248_74       0.0       0.0       0.0       0.0       0.0
s_248_76       0.0       0.0       0.0       0.0       0.0
22
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70       0.0       0.0       0.0       0.0       0.0
s_248_72       0.0       0.0       0.0       0.0       0.0
s_248_74       0.0       0.0       0.0       0.0       0.0
s_248_76       0.0       0.0       0.0       0.0       0.0
16
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70       0.0       0.0       0.0       0.0       0.0
s_248_72       0.0       0.0       0.0       0.0       0.0
s_248_74       0.0       0.0       0.0       0.0       0.0
s_248_76       0.0       0.0       0.0       0.0       0.0
9
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70       0.0       0.0       0.0       0.0       0.0
s_248_72       0.0       0.0       0.0       0.0       0.0
s_248_74       0.0       0.0       0.0       0.0       0.0
s_248_76       0.0       0.0       0.0       0.0       0.0
24
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70       0.0       0.0       0.0       0.0       0.0
s_248_72       0.0       0.0       0.0       0.0       0.0
s_248_74       0.0       0.0       0.0       0.0       0.0
s_248_76       0.0       0.0       0.0       0.0       0.0
5
          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70       0.0       0.0       0.0       0.0       0.0
s_248_72       0.0       0.0       0.0       0.0       0.0
s_248_74       0.0       0.0       0.0       0.0       0.0
s_248_76       0.0       0.0       0.0       0.0       0.0

In [63]:
get_response_probability(df)

          s_247_71  s_247_73  s_247_75  s_247_77  s_247_78
s_248_70      0.03      0.04      0.05      0.06      0.04
s_248_72      0.04      0.05      0.05      0.05      0.05
s_248_74      0.06      0.07      0.06      0.06      0.06
s_248_76      0.06      0.07      0.07      0.05      0.04

In [67]:
df['res_bin'] = df['Response'] > 0.0

In [69]:
df.groupby(['offer_id'])['res_bin'].sum()

offer_id
0        0
1        0
2      489
3        0
4        0
5        0
6        0
7        0
8      520
9        0
10       0
11     521
12    3692
13     169
14     272
15     491
16       0
17       0
18       0
19     250
20     275
21       0
22       0
23       0
24       0
25     186
26    3627
27    3661
28    3608
29     179
Name: res_bin, dtype: int64

In [70]:
df.groupby(['offer_id'])['res_bin'].count()

offer_id
0     36506
1      2904
2      5611
3      7286
4      7326
5      7340
6      3015
7      2939
8      5611
9     12134
10     2905
11     5611
12    40650
13     1806
14     2918
15     5611
16    12159
17     7333
18     7221
19     2918
20     2918
21     2984
22    12213
23     2839
24     8793
25     1806
26    40650
27    40650
28    40650
29     1806
Name: res_bin, dtype: int64